/*
 The Name:   Twenty Sixteen Child
 Theme URI:    http://example.com/twenty-sixteen-child/
 Description:  Twenty Sixteen Child Theme
 Author:       John Doe
 Template:     twentysixteen
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-sixteen-child
*/


/* Theme customization starts here
-------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee:400,600,800');

body:not(.custom-background-image):before,
body:not(.custom-background-image):after {
        height: 0px !important;
}

/*Responsive Design*/
/*git*/

@media screen
    and (max-width : 895px)
    {
        .site-header-menu {
        margin-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

@media screen
    and (min-width : 895px)
    {
        .site-header-menu {
            margin-right: 100px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
}

@media screen
    and (max-width : 894px)
    {
        .site-content {
            padding-right: 0%;
            padding-left: 0%;
            padding-top: 1%;
        }
}

@media screen
    and (min-width : 894px)
    and (max-width : 1480px) {
        .site-content {
        padding-right: 2%;
        padding-left: 2%;
        padding-top: 1%;
    }
}

@media screen
    and (min-width : 1480px)
    {
        .site-content {
                padding-right: 12%;
                padding-left: 12%;
                padding-top: 1%;
        }
}

@media screen
    and (max-width : 695px)
    {
        body:not(.search-results) article:not(.type-page) .entry-content {
            float: right;
            width: 94%;
        }
}

@media screen
    and (min-width : 910px) {
        body:not(.search-results) article:not(.type-page) .entry-content {
            float: right;
            width: 82%;
        }
}

@media screen
    and (max-width : 695px) {
        .entry-header, .entry-summary, .entry-content, .entry-footer, .page-content {
            margin-right: 2.5%;
            margin-left: 2.5%;
        }
}

@media screen
    and (min-width : 895px) {
        .entry-header, .entry-summary, .entry-content, .entry-footer, .page-content {
            margin-right: 0%;
        }
}

@media screen
    and (max-width : 695px) {
        .post-thumbnail {
            margin-left: 0%;
            margin-right: 0%
        }
}


.breadcrumb {
    margin-top: 52px;
    margin-left: 12%;
    color: #5c5c5c;
    font-size: 0.8em;
}

/*Menu Float down fix*/

@media screen
    and (min-width : 909px)
    and (max-width : 1192px) {
        #site-header-menu {
        margin-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
        padding-right: 14px;
    }
}

#site-navigation {
    margin-left: 0px;
}

/* Mobil Menu styling */

@media screen
    and (max-width : 909px) {
       .main-navigation a {
        padding-left: 38px;
    }

}

@media screen
    and (max-width : 909px) {
       .search-form {
        margin-bottom: 15px;
        margin-right: 16px;
    }

}

/* Mobil Footer Fix */
@media screen
    and (max-width : 985px) {
        .entry-footer {
        width: 80% !important;
        margin-top: 1em;
    }
    .cat-links {
    border-top: 5px;
    }
}

@media screen
    and (min-width: 986px){
        body:not(.search-results) article:not(.type-page) .entry-footer {
        width: 13%;
    }
    .cat-links {
    border-top: 1px solid #151111;
    margin-top: 47px;
    padding-top: 15px;
    font-weight: 600;
    }
}



.post-thumbnail {
    margin-bottom: 1.6em;
}

.more-link {
    background-color: #68c3f3;
    padding-top: 6px;
    border-radius: 2px;
    color: #fcfcfc;
    padding-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
    letter-spacing: 0.03em;
    font-size: 0.8em;
    font-weight: 400;
}

.dropdown-toggle {
    color: #fff;
}


body:not(.search-results) article:not(.type-page) img.below-entry-meta, body:not(.search-results) article:not(.type-page) figure.below-entry-meta {
    margin-left: 0;
    max-width: 100%;
    float: right;
    left: 0;
    margin-right: 0%;
}

img {
	margin-top: 10px;
	margin-bottom: 10px;
}

@media screen
    and (min-width : 696px)
    and (max-width : 909px) {
      .post-thumbnail img{
      max-width: 122%;
      margin-top: 10px;
	    margin-bottom: 10px;
    }
}

.site {
    background-color: #fcfcfc;
	margin: 0 auto !important;
}

body:not(.custom-background-image):before,
    body:not(.custom-background-image):after {
    height: 0px !important;
}

.site-inner {
    overflow: hidden !important;
	max-width: none;
}

.site-header {
	padding: 0;
}


h1 {
	  color: #282828;
    font-weight: 800;
}

.entry-content h3 {
    font-size: 1.4rem;
    margin-bottom: 0.517em;
    color: #282828;
    font-weight: 600;
    line-height: 1.35rem;
}

/* .entry-title {
	font-size: 2.1rem;
	margin-bottom: 0.5em;
  line-height: 2.5rem;
} */

.entry-content h2 {
	font-size: 1.35rem;
	line-height: 1.45;
	color: #282828;
	font-weight: 600;
}

.entry-content h4 {
	text-transform: none;
	letter-spacing: 0px;
    font-size: 1.15rem;
    margin-bottom: 0.2em;
    font-weight: 600;
    color: #757575;
}

a {
  color: #68c3f3;
}

p {
	color: #3e3d3d;
	font-size: 1.15rem;
  font-weight: 400;
}

.site-header-main {
    background-color: #2c2c2c;
}

#colophon {
	background-color: black;
}

.header-image {
	margin-top: 0px;
}

.main-navigation a {
    color: #fff;
    background-color: #2c2c2c;
    padding-bottom: 20px;
    padding-top: 20px;

}

.main-navigation .menu-item-has-children > a::after {
    top: 1.413em;
}

div.site-branding {
    margin-left: 4.1%;
}

.widget {
    border-top: none;
    font-size: 1.1rem;
    padding-top: 0px;
    margin-bottom: 36px;
}

.widget .widget-title {
    font-size: 1.2rem;
    margin-bottom: 6px;
}

/*Weitere Beiträge*/
.yarpp-thumbnails-horizontal .yarpp-thumbnail {
  max-width: 24%; overflow: hidden !important;
  width: 24% !important;
  min-width: 150px !important;
  border: 0px !important;

}

.yarpp-thumbnail > img, .yarpp-thumbnail-default {
  max-width: initial !important; /* Maybe optional. See note below */
  width: auto !important;
  margin: 0px !important;
}

.yarpp-thumbnails-horizontal .yarpp-thumbnail-title {
  max-height: none !important;
  line-height: 1.2em !important;
  border: 0px;
}

.yarpp-thumbnail {
  height: 218px !important;
  background-color: #f2eded!important;
}

.yarpp-related .yarpp-thumbnail-title {
    font-weight: 400 !important;
    font-size: 0.9em !important;
    width: 96% !important;
    color: #3e3d3d !important;
    margin-top: 13px !important;
    padding-left: 6px !important;
}

.entry-content a img, .entry-summary a img, .comment-content a img, .textwidget a img {
    margin-top: 0px;

}

.rpwwt-widget ul {
    font-size: 0.9em;
    line-height: 1.2em;
}

.main-navigation ul ul li {
    background-color: #444;
    border: 1px solid #000;
}

.main-navigation a {
    color: #bcb8b8;
    letter-spacing: 0.04em;
}

.main-navigation ul ul li {
    border: 1px solid #383838;
}

.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a {
    font-weight: 800;
    letter-spacing: 1px;
    background-color: #2fbc46;
    padding-bottom: 20px;
    padding-top: 21px;
    color: #2c2c2c;
    letter-spacing: -0.01em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2c2c2c;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #2c2c2c;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #2c2c2c;
}

.widget ul {
    list-style: none;
    margin-left: 0px;
    line-height: 1.45em;
}

.site-info {display:none;}

/*standard Font override with google Font*/
body,
button,
input,
select,
textarea,
.required {
    font-family: "Mukta Mahee", Georgia, serif;
}

code,
kbd,
tt,
var,
samp,
pre,
.form-allowed-tags code {
    font-family: "Mukta Mahee", monospace;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
    font-family: "Mukta Mahee", "Helvetica Neue", sans-serif;
}

:-moz-placeholder {
    font-family: "Mukta Mahee", "Helvetica Neue", sans-serif;
}

::-moz-placeholder {
    font-family: "Mukta Mahee", "Helvetica Neue", sans-serif;
}

:-ms-input-placeholder {
    font-family: "Mukta Mahee", "Helvetica Neue", sans-serif;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.post-password-form label,
.main-navigation,
.post-navigation,
.post-navigation .post-title,
.pagination,
.image-navigation,
.comment-navigation,
.site .skip-link,
.logged-in .site .skip-link,
.widget .widget-title,
.widget_recent_entries .post-date,
.widget_rss .rss-date,
.widget_rss cite,
.tagcloud a,
.site-title,
.entry-title,
.entry-footer,
.sticky-post,
.page-title,
.page-links,
.comments-title,
.comment-reply-title,
.comment-metadata,
.pingback .edit-link,
.comment-reply-link,
.comment-form label,
.no-comments,
.site-footer .site-title:after,
.widecolumn label,
.widecolumn .mu_register label {
    font-family: "Mukta Mahee", "Helvetica Neue", sans-serif;
}


input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {
    padding: 0;
}

.search-form {
    margin-top: 17px;
}

.search-submit {
    width: 35px;
    #2fbc46
}

.search-submit::before {
    line-height: 25px;
    padding-right: 7px;
    color: #2c2c2c;
}

input[type="search"].search-field {
    padding-left: 10px;
    margin-left: 15px;
    background-color: #5c5c5c;
    border: none;
}

.main-navigation ul ul::before, .main-navigation ul ul::after {
    border-style: none;
}

button, button[disabled]:hover, button[disabled]:focus, input[type="button"], input[type="button"][disabled]:hover, input[type="button"][disabled]:focus, input[type="reset"], input[type="reset"][disabled]:hover, input[type="reset"][disabled]:focus, input[type="submit"], input[type="submit"][disabled]:hover, input[type="submit"][disabled]:focus {
    background-color: #2fbc46;
}

.main-navigation ul ul a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-navigation li:hover > a, .main-navigation li.focus > a {
    color: #fff;
    border: 0px solid #3e3e3e;
}

.main-navigation li {
    border-top: 1px solid #3e3e3e;
}

.dropdown-toggle::after {
    border: none;
}

.main-navigation ul ul li {
    border: 1px solid #3e3e3e;
}

.main-navigation ul ul {
    border-bottom: none;
}

.menu-toggle.toggled-on, .menu-toggle.toggled-on:hover, .menu-toggle.toggled-on:focus {
    background-color: #2c2c2c;
}

.menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2043{
  height: 10px;
}

.menu-toggle {
    margin-right: 19px;
    color: white;
    border: 0px;
}

li.current-cat {
    background-color: #2fbc46;
    border-color: #2fbc46;
    border-style: solid;
    width: 80%;
    color: #1e1e1e;
    border-width: 5px;
}

li.current-cat a {
    color: #1e1e1e;
}

.comments-link {
    display: none;
}

body:not(.search-results) article:not(.type-page) .entry-footer .avatar {
    width: 38px;
    float: left;
    height: auto;
}

.single .byline, .full-size-link, body:not(.search-results).group-blog .byline, body:not(.search-results) .entry-format, body:not(.search-results) .cat-links, body:not(.search-results) .tags-links, body:not(.search-results) article:not(.sticky) .posted-on, body:not(.search-results) article:not(.type-page) .comments-link, body:not(.search-results) article:not(.type-page) .entry-footer .edit-link {
    margin-bottom: 0px;
}

a.url.fn.n{
    float: left;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 7px;
    margin-bottom: -4px;
}

time.entry-date.published {
    margin-left: 10px;
    margin-right: 26px;
    float: left;
}

div#rpwwt-recent-posts-widget-with-thumbnails-3.rpwwt-widget {
    line-height: 1.4rem;
}

span.comments-link {
    display: none !important;
}

body.home time.entry-date.published {
    margin-left: 0px;
}

#content.time.entry-date.published {
    margin-left: 16px;
    margin-top: -5px;
    margin-bottom: 7px;
}

.pagination {
    border-top: 0px;
}

/* Footer */
a.next.page-numbers {
    border-radius: 25px;
    background-color: #1e1e1e;
}

.pagination .nav-links::after {
    border-radius: 25px;
    background-color: #1e1e1e;
}

.pagination::before, .pagination::after {
    background-color: transparent;
}

.pagination .page-numbers {
    border-radius: 25px;
    font-size: 1.4rem;
}

.pagination .current {
    font-weight: 800;
    background-color: #2fbc46;
    border-radius: 2px;
    color: white;
    font-size: 1rem;
    padding-top: 13px;
    padding-bottom: 8px;
    font-size: 1.4rem;
}

.socialicon {
    float: left;
    margin-right: 9px;
    text-decoration: none;
}

.entry-content a,
.entry-summary a,
.taxonomy-description a,
.logged-in-as a,
.comment-content a,
.pingback .comment-body > a,
.textwidget a,
.entry-footer a:hover,
.site-info a:hover {
	box-shadow: 0 0px 0 0;
}

/*Comment Section*/

.comments-title, .comment-reply-title {
    border-top: 0px;
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {
    border: 0px;
    background-color: #bcb8b8;
}

#author {
  width: 50%;
  height: 56px;
}

#email {
  width: 50%;
  height: 56px;
}

#url {
  width: 50%;
  height: 56px;
}

.comment-form {
    padding-top: 1.75em;
    margin-left: 18%;
}

.comments-title, .comment-reply-title {
    margin-left: 18%;
}

/*Footer*/

#colophon {
    background-color: #2c2c2c;
}


/*Home Styling*/
@media screen
    and (min-width : 910px) {
      .search .content-area, .category .content-area, .home .content-area{
        width: 74%;
      }
}

/*Sidebar responsive*/
@media screen
    and (min-width : 910px)
    and (max-width : 1479px) {
      .search .site-content, .category .site-content, .home .site-content {
        padding-left: 6%;
        padding-right: 15%;
        padding-top: 4%;
      }
}

@media screen
      and (min-width : 1480px) {
      .search .site-content, .category .site-content, .home .site-content {
          padding-left: 18%;
          padding-right: 22%;
          padding-top: 4%;
      }
}

@media screen
    and (min-width : 1480px) {
      .search .sidebar, .category .sidebar, .home .sidebar {
      width: 26%;
  }
}

@media screen
    and (min-width : 910px)
    and (max-width : 1479px) {
      .search .sidebar, .category .sidebar, .home .sidebar {
      width: 27%;
  }
}

/* Sidebar Article */
@media screen
    and (min-width : 1192px) {
      .sidebar {
          width: 21%;
          margin-left: 78%;
      }
}

/*Sidebar Home*/
@media screen
    and (min-width : 1192px) {
      .home .sidebar, .category .sidebar{
          width: 22%;
          margin-left: 83%;
      }
}

@media screen
    and (min-width : 910px)
    and (max-width : 1192px) {
      .sidebar {
          width: 17%;
          margin-left: 80%;
      }
    }

@media screen
    and (min-width : 910px) {
      .search .entry-title, .category .entry-title, .home .entry-title {
        font-size: 1.9rem;
        font-weight: 800;
      }
}

@media screen
    and (max-width : 909px) {
      .search .entry-title, .category .entry-title, .home .entry-title {
        font-size: 1.3rem;
        margin-top: 15px;
        margin-bottom: -5px;
      }
}

@media screen
    and (min-width : 910px) {
      .search h2, .category .entry-content h2, .home .entry-content h2 {
        font-size: 1.15rem;
        font-weight: 400;
      }
}

@media screen
    and (max-width : 909px) {
      .search h2, .category .entry-content h2, .home .entry-content h2 {
        font-size: 1.05rem;
        line-height: 1.3em;
        margin-top: -0.5em;
      }
}

.search .cat-links, .category .cat-links, .home .cat-links {
    margin-top: 19px;
    margin-bottom: 4px;
    padding-top: 10px;
    margin-right: 24px;
    border-top: 1px solid #bcb8b8;
}

/* Kategorie Suche*/
.page-header {
  border-bottom: 1px solid #ddd;
  border-top: 0px;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 0px;
}

.page-title {
  font-size: 2.4em;
  color: #7e837f;
  font-size: 1.3em;
  font-weight: 400;
}

.search .breadcrumb, .category .breadcrumb {
  margin-left: 19%;
}

.search time.entry-date.published, .category time.entry-date.published {
    margin-left: 0px;
    float: left;
}

/*breadcrumb*/
.breadcrumb a {
  border-bottom: 1px solid #ddd;
}

.breadcrumb .current-page {
    border-bottom: 1px solid #ddd;
}

/*Author Section*/
.tags-links {
  line-height: 1.2em;
}

@media screen
    and (max-width : 909px) {
      .cat-links {
          display: none;
      }
}

/* Form */
@media screen
    and (max-width : 909px) {
      .comment-form {
          margin-left: 0%;
      }
}

@media screen
    and (max-width : 909px) {
      .comments-title, .comment-reply-title {
        margin-left: 0%;
      }
}

@media screen
    and (max-width : 909px) {
        #author {
            width: 100%;
            height: 38px;
        }
}

@media screen
    and (max-width : 909px) {
        #email {
            width: 100%;
            height: 38px;
        }
}

@media screen
    and (max-width : 909px) {
        #url {
            width: 100%;
            height: 38px;
        }
}

@media screen
    and (max-width : 909px) {
      .breadcrumb {
          margin-top: 9px;
          margin-left: 3%;
          margin-bottom: 12px;
        }
}
